---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const { title, description } = Astro.props;
---

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return 'dark';
    }
    return 'light';
  })();

  if (theme === 'light') {
    document.documentElement.classList.remove('dark');
  } else {
    document.documentElement.classList.add('dark');
  }
  window.localStorage.setItem('theme', theme);
</script>

<html lang="en">
  <head>
    <BaseHead
      title={title ? title : SITE_TITLE}
      description={description ? description : SITE_DESCRIPTION}
    />
  </head>
  <body
    class="container max-w-6xl mx-auto py-6 px-4 bg-white/90 dark:bg-neutral-900"
  >
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
