---
import { Image } from 'astro:assets';
import Layout from '../layouts/BaseLayout.astro';

const links = [
  { github: 'https://github.com/iamsahebgiri' },
  { twitter: 'https://twitter.com/iamsahebgiri' },
  { facebook: 'https://facebook.com/iamsahebgiri' },
  { youtube: 'https://youtube.com/iamsahebgiri' },
  { linkedin: 'https://www.linkedin.com/in/iamsahebgiri' }
];
---

<Layout
  title="About Me"
  description="Seasoned Software Engineer with 5+ years of experience bringing web projects to life, from inception to deployment."
>
  <section class="my-16 mx-auto max-w-2xl prose dark:prose-invert">
	<Image src="/iamsahebgiri.jpg" alt="Saheb Giri" height="128" width="128" class="rounded-full mx-auto" />
    <p>
      Web development has been my playground for over a decade. It's where I get
      to take the ideas buzzing in my head and turn them into real, functioning
      websites. I love the whole process, from brainstorming the initial concept
      to seeing it come alive online, polished and ready to meet the world.
    </p>
    <p>
      My 5+ years of experience have given me a deep understanding of what makes
      a website not just work, but truly sing. I'm not just a coder, I'm an
      advocate for user-friendly experiences, and I make sure every project I
      touch is meticulously planned and executed with that in mind.
    </p>
    <h3>I too, am social.</h3>
    <ul>
      {
        links.map((link) => (
          <li>
            <a href={Object.values(link)[0]}>{Object.keys(link)[0]}</a>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>
