---
import BaseLayout from "../layouts/BaseLayout.astro";
import BookmarkSection from "../components/BookmarkSection.astro";
import { getCollection } from "astro:content";

const books = await getCollection("books");
const articles = await getCollection("articles");
const papers = await getCollection("papers");
---

<BaseLayout>
  <header class="py-16 text-center">
    <h1
      class="mb-1 text-3xl font-serif sm:text-4xl text-neutral-900 font-semibold dark:text-neutral-200"
    >
      Bookmarks
    </h1>
    <p class="text-base text-neutral-500 dark:text-neutral-400">
      Things I have read and found interesting.
    </p>
  </header>
  <BookmarkSection title="Papershelf" bookmarks={papers} />
  <BookmarkSection title="Bookshelf" bookmarks={books} />
  <BookmarkSection title="Reading List" bookmarks={articles} />
</BaseLayout>
