---
import { getCollection } from "astro:content";
import Project from "../components/Project.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import PageHeader from "@/components/PageHeader.astro";
import SectionHeading from "@/components/SectionHeading.astro";

const projects = await getCollection("projects");
const featuredProjects = projects
  .filter((project) => (project.data.featured ?? -1) > -1)
  .sort((a, b) => (b.data.featured ?? 0) - (a.data.featured ?? 0));
const archivedProjects = projects.filter((project) => project.data.status === "archived");
const restProjects = projects
  .filter((project) => project.data.status !== "archived" && (project.data.featured ?? -1) === -1)
  .sort((a, b) => (Number(b.data.updated_at) ?? 0) - (Number(a.data.updated_at) ?? 0));
---

<BaseLayout>
  <PageHeader title="Featured Projects" description="A collection of projects I have worked on." />
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
    {featuredProjects.map((project) => <Project {...project.data} />)}
    {restProjects.map((project) => <Project {...project.data} />)}
  </div>
  <SectionHeading> Graveyard </SectionHeading>
  <div class="grid grid-cols-1 gap-3 sm:grid-cols-2">
    {archivedProjects.map((project) => <Project {...project.data} />)}
  </div>
</BaseLayout>
