---
import { Image } from "astro:assets";
import FormattedDate from "@/components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  bookmark: CollectionEntry<"books" | "papers" | "articles">;
}

const { bookmark } = Astro.props;
---

<a href={bookmark.data.link} class="flex gap-4 group">
  <Image
    height={48}
    width={48}
    src={bookmark.data.cover ? `//wsrv.nl/?url=${bookmark.data.cover}&w=64&h=64` : "/book.svg"}
    alt={bookmark.data.title}
    class="h-12 w-12 rounded-lg inline-block bg-cover dark:bg-neutral-800 ring-1 ring-neutral-900/5 dark:ring-white/10"
  />
  <div class="flex flex-col">
    <span
      class="font-semibold text-md text-neutral-600 dark:text-neutral-400 group-hover:text-neutral-900 dark:group-hover:text-neutral-200 transition"
    >
      {bookmark.data.title}
    </span>
    <span class="text-sm text-neutral-500 dark:text-neutral-500">
      <FormattedDate date={new Date(bookmark.data.created)} />
    </span>
  </div>
</a>
