---
import type { CollectionEntry } from "astro:content";
import Bookmark from "@/components/Bookmark.astro";

interface Props {
  bookmarks: CollectionEntry<"books" | "papers" | "articles">[];
  title: string;
}

const { bookmarks, title } = Astro.props;
---

<section>
  <h2
    class="text-2xl font-serif font-bold text-neutral-900 dark:text-neutral-200"
  >
    {title}
  </h2>
  <ul class="mt-4 mb-16 space-y-4">
    {
      bookmarks.map((bookmark) => (
        <li>
          <Bookmark bookmark={bookmark} />
        </li>
      ))
    }
  </ul>
</section>
