---
import { SEO } from "../consts";

const today = new Date();
---

<footer class="py-32">
  <div class="flex justify-center">
    <span
      class="font-serif text-5xl cursor-default opacity-10 dark:opacity-30 hover:opacity-100 dark:invert dark:hover:opacity-100 transition-opacity duration-500 ease-in-out py-4"
    >
      saheb giri
    </span>
  </div>
  <p class="text-sm text-center text-neutral-300 dark:text-neutral-500">
    {today.getFullYear()}
    {SEO.author}. Powered by Cloudflare.
  </p>
</footer>
