---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import ThemeToggle from './ThemeToggle.astro';
---

<header>
  <nav class="flex items-center justify-between gap-4">
    <a href="/" class="hidden md:block" title={SITE_TITLE}>
      <img src="/favicon.svg" alt={SITE_TITLE} class="h-8 w-auto" />
    </a>
    <ul
      class="flex mx-auto rounded-full bg-white/90 px-3 text-sm font-medium text-neutral-800 shadow-lg shadow-neutral-800/5 ring-1 ring-neutral-900/5 backdrop-blur dark:bg-neutral-800/90 dark:text-neutral-200 dark:ring-white/10"
    >
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Articles</HeaderLink>
      <!-- <HeaderLink href="/snippets">Snippets</HeaderLink> -->
      <HeaderLink class="hidden md:flex" href="/bookmarks">Bookmarks</HeaderLink>
      <HeaderLink href="/projects">Projects</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
    </ul>
    <div class="hidden md:block">
		  <ThemeToggle />
    </div>
  </nav>
</header>
