@import 'nprogress.css';
@import 'prism.css';

* {
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}

.text-gradient {
  background: radial-gradient(
    87.99% 87.99% at 82.56% 82.09%,
    #ff8b00 0,
    #ff5630 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rounded-lg {
  border-radius: 0.6rem;
}

@media screen and (min-width: 0em) {
  .math.math-display {
    overflow: scroll;
  }
}

@media screen and (min-width: 30em) {
  .math.math-display {
    overflow: inherit;
  }
}
