@import 'font.css';
@import 'tailwind.css';
@import 'progressive-img.css';

.text-gradient {
  background: radial-gradient(
    87.99% 87.99% at 82.56% 82.09%,
    #ff5630 0,
    #ff8b00 100%
  );
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.SvgLogo {
  max-width: 160px;
}

.debug {
  outline: 4px solid hsla(var(--debug-css, 207, 89.7436%, 54.1176%), 0.05) !important;
  outline-offset: -2px !important;
}
